version: "3.9"

services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: memo
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build:
      context: ./backend
    image: mustafac0des/memo-backend:latest  # Docker Hub username
    env_file:
      - ./backend/.env  # Must exist
    ports:
      - "5000:5000"
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
    image: mustafac0des/memo-frontend:latest  # Docker Hub username
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mysql_data: #this is working
